header.post-header {
  border-bottom: 1px dotted #111111;
}

h1.post-title {
  /* margin-bottom: 10px;
  border-bottom: 1px solid #111111;
  */
  line-height: 2.25rem;
}

article.post-summary {
  margin-left: 1em;
  border-left: 1px solid #880000;
  padding-left: 0.5em;
  background-color: #fffff8;
}

span.tag-item-separator {
  font-weight: 100;
  color: #E54028;
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: -0.35rem;
  margin-right: 0.4rem;
}

ul.tag-list {
  list-style: none;
}

li.tag-item {
  display: inline-block;
  list-style-type: none;
}
